.Footer {
  width: 100%;
  padding-bottom: 25px;
  border-top: 1px solid #275959;
  background-color: #003232;
}

.me {
  color: $medTeal;
  font-family: $textFont;
  font-weight: lighter;
  text-align: center;
  font-size: 0.9em;
}
