.Home {
  background-color: #001e1e;
  width: auto;
  padding-top: 3%;
  padding-bottom: 0;
  color: white;
}

.home-headers {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.home-name {
  font-size: 2.4em;
}

.home-role {
  font-size: 3.4em;
}

.home-button {
  background-color: white;
  color: #001e1e;
  padding: 1%;
  border-radius: 20px;
  font-size: 1.4em;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

.curve {
  display: block;

  margin-top: 8%;
}
