$medTeal: #008080;
$darkTeal: #001e1e;
$bg: #f3f8fa;
$white: #fff;
$blackText: #000000b3;

$mainFont: "Rubik", sans-serif;
$secondFont: "Karla", sans-serif;

$textFont: "Montserrat", "Arial", "sans-serif";

$border: gold 2px solid;
